<div class="imprint">
  <h1>Impressum</h1>
  <address>
    Your Name Here
  </address>
  <ul>
    <li>
      e-mail:
      <a href="mailto:mail@example.com">mail&#064;example.com</a>
    </li>
    <li>
      phone:
      <a href="tel:123456789">123456789</a>
    </li>
  </ul>
  <div id="imprint-notice">
    <small>Diese Daten dürfen nicht zu Werbezwecken genutzt werden.</small>
  </div>
</div>
